<section class="blog" id="blog">
    <div class="container flex-wrap blog__all blog__all-md blog__all-xl">
        <div class="row">
            <div class="col-10 col-xl-11 pl-0 pr-1">
                <p class="blog__tabs-title">latest blog</p>
            </div>
            <div class="col-2 col-xl-1 pr-0">
                <div class="container-fluid flex-nowrap pl-0">
                    <div class="row d-md-none d-flex">
                        <div class="col-6 col-md-3 col-xl-4 px-0 d-flex justify-content-end">
                            <a class="carousel-control-prev d-md-none d-flex justify-content-center align-items-center blog__tabs-step"
                               href="#carouselBlog" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left blog__tabs-step-ico" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-6 col-md-3 col-xl-4 px-0 d-flex justify-content-end">
                            <a class="carousel-control-next d-md-none d-flex justify-content-center align-items-center blog__tabs-step"
                               href="#carouselBlog" role="button" data-slide="next">
                                <i class="fa fa-chevron-right blog__tabs-step-ico" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row d-none d-md-flex d-xl-none">
                        <ol class="carousel-indicators mx-0">
                            <li data-target="#carouselBlog" data-slide-to="0"
                                class="col-4 px-0 mx-0 d-flex justify-content-end active">
                                <a id="blog-list-md-1" class="d-flex blog__tabs-circle blog__tabs-circle-active"></a>
                            </li>
                            <li data-target="#carouselBlog" data-slide-to="2"
                                class="col-4 px-0 mx-0 d-flex justify-content-end">
                                <a id="blog-list-md-2" class="d-flex blog__tabs-circle"></a>
                            </li>
                            <li data-target="#carouselBlog" data-slide-to="4"
                                class="col-4 px-0 mx-0 d-flex justify-content-end">
                                <a id="blog-list-md-3" class="d-flex blog__tabs-circle"></a>
                            </li>
                            <li data-target="#carouselBlog" data-slide-to="6"
                                class="col-4 px-0 mx-0 d-flex justify-content-end">
                                <a id="blog-list-md-4" class="d-flex blog__tabs-circle"></a>
                            </li>
                        </ol>
                    </div>
                    <div class="row d-none d-xl-flex">
                        <ol class="carousel-indicators mx-0">
                            <li data-target="#carouselBlog" data-slide-to="0"
                                class="col-4 px-0 mx-0 d-flex justify-content-end active">
                                <a id="blog-list-xl-1" class="d-flex blog__tabs-circle blog__tabs-circle-active"></a>
                            </li>
                            <li data-target="#carouselBlog" data-slide-to="3"
                                class="col-4 px-0 mx-0 d-flex justify-content-end">
                                <a id="blog-list-xl-2" class="d-flex blog__tabs-circle"></a>
                            </li>
                            <li data-target="#carouselBlog" data-slide-to="6"
                                class="col-4 px-0 mx-0 d-flex justify-content-end">
                                <a id="blog-list-xl-3" class="d-flex blog__tabs-circle"></a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid flex-no-wrap px-0 blog__all blog__all-md blog__all-xl pt-3">

        <div class="container-fluid px-0">
            <div id="carouselBlog" class="carousel slide" data-ride="carousel" data-interval="9000">
                <div class="carousel-inner row w-100 mx-0 blog__carousel" role="listbox">
                    <div class="carousel-item col-md-6 col-xl-4 px-0 active blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image1">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image2">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image3">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image1">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image2">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image3">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image1">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image2">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-6 col-xl-4 px-0 blog__carousel">
                        <div class="d-flex flex-wrap align-items-start blog__item-top">
                            <div class="d-flex justify-content-center align-items-end blog__item blog__image blog__image3">
                                <div class="container blog__image-title blog__image-bgcolor">
                                    <div class="row px-3">
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="blog__data-comments">16 jan 2016</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-start align-items-center p-0 blog__image-title">
                                            <i class="fas fa-comments"></i>
                                            <span class="blog__data-comments">4 Comments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__p blog__item">
                                <h4 class="blog__text-title">Products That Fight Static </h4>
                                <p class="blog__text-body">
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus
                                    eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                    vehicula,
                                    rutrum magna in, ornare enim.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="#"
                                       class="btn btn-dark d-flex justify-content-center align-items-center blog__btn">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>