<footer class="container-fluid footer-bg px-0">

    <!-- Footer-info-->

    <section class="container footer-info">
        <div class="row footer-info__wrapper">
            <div class="col-6 col-lg-3 mb-4">
                <h5 class="text-white ">INFORMATION</h5>
                <div class="d-flex flex-column">
                    <a class="mt-4 text-secondary " href="#">About us</a>
                    <a class="mt-3 text-secondary" href="#">Privacy</a>
                    <a class="mt-3 text-secondary" href="#">Conditions</a>
                    <a class="mt-3 text-secondary" href="#">Online support</a>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <h5 class="text-white">MY ACCOUNT</h5>
                <div class="d-flex flex-column ">
                    <a class="mt-4 text-secondary" href="#">Login</a>
                    <a class="mt-3 text-secondary" href="#">My Cart</a>
                    <a class="mt-3 text-secondary" href="#">Wishlist</a>
                    <a class="mt-3 text-secondary" href="#">Checkout</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <h5 class="text-white">INFORMATION</h5>
                <div class="d-flex flex-column">
                    <a class="mt-4 text-secondary" href="#">Specials</a>
                    <a class="mt-3 text-secondary" href="#">New Products</a>
                    <a class="mt-3 text-secondary" href="#">Best Sellers</a>
                    <a class="mt-3 text-secondary" href="#">Our Stores</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <h5 class="text-white">INFORMATION</h5>
                <div class="d-flex flex-column">
                    <a class="mt-4 text-secondary" href="#">Payment options</a>
                    <a class="mt-3 text-secondary" href="#">Shipping and delivery</a>
                    <a class="mt-3 text-secondary" href="#">Returns</a>
                    <a class="mt-3 text-secondary" href="#">Shipping</a>
                </div>
                <div class="d-flex mt-4">
                    <img class="p-1" src="img/cards/visa.png" alt="Visa">
                    <img class="p-1" src="img/cards/master-card.png" alt="Master Card">
                    <img class="p-1" src="img/cards/dacover.png" alt="Discover">
                    <img class="p-1" src="img/cards/blue-card.png" alt="American Express">
                    <img class="p-1" src="img/cards/paypal.png" alt="Pay pal">
                </div>
            </div>
        </div>
    </section>

    <!--Footer copyright-->

    <section class="container-fluid copyright-bg ">
        <div class="container">
            <div class="row py-5">
                <p class="col-8 text-secondary m-0 d-flex justify-content-end pr-5 align-items-center">©Copyright 2016 Bazar | All Rights Reserved</p>
                <div class="col-4 d-flex align-items-center justify-content-end pr-4">
                    <i class="fab fa-twitter mx-3 "></i>
                    <i class="fab fa-facebook-f mx-3 "></i>
                    <i class="fab fa-google-plus-g mx-3 "></i>
                    <i class="fab fa-linkedin-in mx-3 "></i>
                    <i class="fab fa-pinterest-p mx-3 "></i>
                </div>
            </div>
        </div>
    </section>

</footer>