<section class="gallery container" id="f-gallery">
<!--    <a href="#" name="gallery"></a>-->
    <div class="row">
        <div class="gallery__tabs col-xl-6 container flex-no-wrap blog__all blog__all-md blog__all-xl pt-3">
            <h2 class="gallery__tabs-title">furniture gallery</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" id="nav-featured" data-toggle="tab" href="#nav-featuredContent"
                       role="tab" aria-controls="nav-featuredContent" aria-selected="true">featured</a>
                    <a class="nav-item nav-link active" id="nav-top-seller" data-toggle="tab"
                       href="#nav-top-sellerContent" role="tab" aria-controls="nav-top-sellerContent"
                       aria-selected="false">top seller</a>
                    <a class="nav-item nav-link" id="nav-sale-off" data-toggle="tab" href="#nav-sale-offContent"
                       role="tab" aria-controls="nav-sale-offContent" aria-selected="false">sale off</a>
                    <a class="nav-item nav-link" id="nav-top-rated" data-toggle="tab" href="#nav-top-ratedContent"
                       role="tab" aria-controls="nav-top-ratedContent" aria-selected="false">top rated</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-featuredContent" role="tabpanel" aria-labelledby="nav-featured">
                    <div class="gallery">
                        <div class="gallery__tabs-content--icons">
                            <i class="far fa-heart mb-1 ml-2 gallery__tabs-content--heart"></i>
                            <i class="far fa-eye mb-1 ml-2 gallery__tabs-content--eye"></i>
                            <i class="fas fa-shopping-basket ml-2 gallery__tabs-content--basket"></i>
                        </div>
                        <div class="selected">


                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <div class="list">
                            <div class="buttom-people-left"></div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/furniture/1.png" class="img-foot"
                                     alt="" data-name="Room du Gostini" data-sale="$320" data-price="$1820"
                                     data-id="6"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/furniture/2.png" class="img-foot"
                                     alt="" data-name="Room du" data-sale="$520" data-price="$1820"
                                     data-id="7"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/furniture/3.png" class="img-foot"
                                     alt="" data-name="Room" data-sale="$320" data-price="$1820"
                                     data-id="8"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/furniture/4.png" class="img-foot"
                                     alt="" data-name="Aenean Bristique" data-sale="$2090" data-price="$4020"
                                     data-id="9"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/furniture/5.png" class="img-foot"
                                     alt="" data-name="Ru Bristique" data-sale="$150" data-price="$820"
                                     data-id="10"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/furniture/6.png" class="img-foot"
                                     alt="" data-name="Bristique" data-sale="$130" data-price="$1820"
                                     data-id="11"/>
                            </div>
                            <div class="buttom-people-right"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="nav-top-sellerContent" role="tabpanel" aria-labelledby="nav-top-seller">
                    <div class="gallery">
                        <div class="gallery__tabs-content--icons">
                            <i class="far fa-heart mb-1 ml-2 gallery__tabs-content--heart"></i>
                            <i class="far fa-eye mb-1 ml-2 gallery__tabs-content--eye"></i>
                            <i class="fas fa-shopping-basket ml-2 gallery__tabs-content--basket"></i>
                        </div>
                        <div class="selected">
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="list">
                            <div class="buttom-people-left"></div>
                            <div class="gallery-imgDiv show active">
                                <img src="img/products/top-seller/10.png" class="img-foot"
                                     alt="" data-name="Room du Gostini" data-sale="$320" data-price="$1820"
                                     data-id="0"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/11.png" class="img-foot"
                                     alt="" data-name="Room du" data-sale="$520" data-price="$1820"
                                     data-id="1"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/12.png" class="img-foot"
                                     alt="" data-name="Room" data-sale="$320" data-price="$1820"
                                     data-id="2"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/13.png" class="img-foot"
                                     alt="" data-name="Aenean Bristique" data-sale="$2090" data-price="$4020"
                                     data-id="3"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/14.png" class="img-foot"
                                     alt="" data-name="Ru Bristique" data-sale="$150" data-price="$820"
                                     data-id="4"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/15.png" class="img-foot"
                                     alt="" data-name="Bristique" data-sale="$130" data-price="$1820"
                                     data-id="5"/>
                            </div>
                            <div class="buttom-people-right"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-sale-offContent" role="tabpanel" aria-labelledby="nav-sale-off">
                    <div class="gallery">
                        <div class="gallery__tabs-content--icons">
                            <i class="far fa-heart mb-1 ml-2 gallery__tabs-content--heart"></i>
                            <i class="far fa-eye mb-1 ml-2 gallery__tabs-content--eye"></i>
                            <i class="fas fa-shopping-basket ml-2 gallery__tabs-content--basket"></i>
                        </div>
                        <div class="selected">
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="list">
                            <div class="buttom-people-left"></div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/10.png" class="img-foot"
                                     alt="" data-name="Room du Gostini" data-sale="$320" data-price="$1820"
                                     data-id="0"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/11.png" class="img-foot"
                                     alt="" data-name="Room du" data-sale="$520" data-price="$1820"
                                     data-id="1"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/12.png" class="img-foot"
                                     alt="" data-name="Room" data-sale="$320" data-price="$1820"
                                     data-id="2"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/13.png" class="img-foot"
                                     alt="" data-name="Aenean Bristique" data-sale="$2090" data-price="$4020"
                                     data-id="3"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/14.png" class="img-foot"
                                     alt="" data-name="Ru Bristique" data-sale="$150" data-price="$820"
                                     data-id="4"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/15.png" class="img-foot"
                                     alt="" data-name="Bristique" data-sale="$130" data-price="$1820"
                                     data-id="5"/>
                            </div>
                            <div class="buttom-people-right"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-top-ratedContent" role="tabpanel" aria-labelledby="nav-top-rated">
                    <div class="gallery">
                        <div class="gallery__tabs-content--icons">
                            <i class="far fa-heart mb-1 ml-2 gallery__tabs-content--heart"></i>
                            <i class="far fa-eye mb-1 ml-2 gallery__tabs-content--eye"></i>
                            <i class="fas fa-shopping-basket ml-2 gallery__tabs-content--basket"></i>
                        </div>
                        <div class="selected">
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="list">
                            <div class="buttom-people-left"></div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/10.png" class="img-foot"
                                     alt="" data-name="Room du Gostini" data-sale="$320" data-price="$1820"
                                     data-id="0"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/11.png" class="img-foot"
                                     alt="" data-name="Room du" data-sale="$520" data-price="$1820"
                                     data-id="1"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/12.png" class="img-foot"
                                     alt="" data-name="Room" data-sale="$320" data-price="$1820"
                                     data-id="2"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/13.png" class="img-foot"
                                     alt="" data-name="Aenean Bristique" data-sale="$2090" data-price="$4020"
                                     data-id="3"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/14.png" class="img-foot"
                                     alt="" data-name="Ru Bristique" data-sale="$150" data-price="$820"
                                     data-id="4"/>
                            </div>
                            <div class="gallery-imgDiv">
                                <img src="img/products/top-seller/15.png" class="img-foot"
                                     alt="" data-name="Bristique" data-sale="$130" data-price="$1820"
                                     data-id="5"/>
                            </div>
                            <div class="buttom-people-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__item col-xl-6">
            <span class="gallery__item-indicator">from</span>
            <span class="gallery__item-price">$50.80</span>
            <p class="gallery__item-info mt-2">bedroom bed</p>
            <button class="gallery__item-button btn btn-green mb-4">shop now</button>
            <img class="gallery__item-img pb-4" src="img/products/bedroom-bed-banner.png" alt="bedroom bed">
        </div>
    </div>
</section>