<section class="container-fluid header-section bg-dark d-flex align-items-center">
    <header class="container d-flex align-items-center justify-content-between">
        <div>
            <a href="#" class="header-section__mobile-phone d-flex align-items-center text-white">
                <i class="fas fa-mobile-alt header-section__mobile-icon"></i>
                <span class="text-white ">2300 - 3560 - 222</span>
            </a>
        </div>
        <div>
            <a href="#">
                <img class="header-section__main-header-logo" src="img/main-header-logo.png" alt="main-logo">
            </a>
        </div>
        <div class="header-section__cart-section" data-toggle="modal" data-target="#cart-modal">
            <a href="#" class="text-white">
                <div class="rounded header-section__cart-btn">
                    <i class="fas fa-shopping-cart header-section__cart-icon"></i>
                    <div class="rounded-circle bg-dark text-center header-section__cart-eclipse">
                        <span class="header-section__number-of-purchases">0</span>
                    </div>
                </div>
            </a>
        </div>
    </header>

    <div class="modal fade" id="cart-modal">
        <div class="modal-dialog header-section__cart-dialog">
            <div class="modal-content rounded-0 header-section__cart-content">

                <!-- Modal Header -->
                <div class="modal-header" id="header-section__modal-header">
                    <button type="button" class="close" id="header-section__cart-close-btn"
                            data-dismiss="modal">
                        <span class="header-section__cart-close-icon">&times;</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="header-section__empty-cart">
                        <p class="font-weight-bold text-center header-section__top-article">Your cart is
                            empty</p>
                        <p class="text-center header-section__bottom-article">But it's never too
                            late to fix it
                            :)</p>
                    </div>
                    <div class="container header-section__filled-cart">
                        <div class="row border rounded header-section__filled-cart-content">
                            <div class="col-lg-12 col-xl-6">
                                <div class="float-left header-section__filled-cart-img">
                                    <img id="cart-img" src="" alt="">
                                </div>
                                <div class="float-left header-section__filled-cart-prise-section">
                                    <h4 class="header-section__filled-cart-product-name"></h4>
                                    <p class="mb-0 text-black-50 header-section__filled-cart-price--old"></p>
                                    <div class="text-white header-section__filled-cart-price--new">
                                        <span id="cart-product-discount-price"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="header-section__filled-cart-quantity-section">
                                    <p>Quantity:</p>
                                    <div class="header-section__filled-cart-quantity text-center mr-1">
                                        <span id="cart-quantity">1</span>
                                    </div>
                                    <button class="bg-white mr-1 font-weight-bold header-section__filled-cart-btn--remove">
                                        <span>-</span>
                                    </button>
                                    <button class="bg-white font-weight-bold header-section__filled-cart-btn--add">+</button>
                                </div>
                                <div class="float-right text-center header-section__filled-cart-quantity-sum">
                                    <p class="text-black-50 mb-2">Sum</p>
                                    <p id="cart-quantity-sum"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="container header-section__filled-cart-total-sum">
                    <p class="float-right mb-0">Total: <span id="cart-total-sum"></span></p>
                </div>
                <div class="modal-footer mb-3" id="header-section__modal-footer">
                    <button type="button" class="btn text-white header-section__btn--continue" data-dismiss="modal">
                        <i class="fas fa-angle-right mr-1"></i>
                        <span>CONTINUE</span>
                    </button>
                    <button type="button" class="btn text-white header-section__btn--buy">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        <span>BUY NOW</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>
