<section class="market" id="products">
    <div class="container pl-xl-0">
        <div class="row">
            <div class="col-xl-9 px-xl-0">
                <div class="d-flex flex-no-wrap justify-content-center align-items-center">
                    <div class="market__tabs-title">
                        <div class="d-flex flex-no-wrap justify-content-center align-items-center">
                            <span class="d-flex justify-content-center align-items-center">furniture</span>
                            <span class="px-0 market__grow"></span>
                            <div class="d-xl-none px-0">
                                <a href="#"
                                   class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-list">
                                    <i class="fas fa-list"></i>
                                    <span class="d-flex justify-content-center align-items-center pl-2 market__btn-list-text">Filters by</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-xl-4 col-md-6">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-1">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-1"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-1" class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-1">Aenean Ru Bristique 1</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-1"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-1-4" type="radio" name="market__stars-1"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-1-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-1-3" type="radio" name="market__stars-1"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-1-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-1-2" type="radio" name="market__stars-1"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-1-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-1-1" type="radio" name="market__stars-1"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-1-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-1-0" type="radio" name="market__stars-1"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-1-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-1"></span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-1">$30.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-2">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-2"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-2" class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-2">Aenean Ru Bristique 2</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-2"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-2-4" type="radio" name="market__stars-2"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-2-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-2-3" type="radio" name="market__stars-2"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-2-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-2-2" type="radio" name="market__stars-2"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-2-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-2-1" type="radio" name="market__stars-2"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-2-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-2-0" type="radio" name="market__stars-2"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-2-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-2"></span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-2">$15.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 d-none d-xl-flex">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-3">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-3"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-3"
                                                       class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-3">Aenean Ru Bristique 3</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-3"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-3-4" type="radio" name="market__stars-3"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-3-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-3-3" type="radio" name="market__stars-3"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-3-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-3-2" type="radio" name="market__stars-3"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-3-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-3-1" type="radio" name="market__stars-3"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-3-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-3-0" type="radio" name="market__stars-3"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-3-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-3">$35.00</span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-3">$25.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-4">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-4"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-4"
                                                       class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-4">Aenean Ru Bristique</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-4"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-4-4" type="radio" name="market__stars-4"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-4-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-4-3" type="radio" name="market__stars-4"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-4-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-4-2" type="radio" name="market__stars-4"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-4-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-4-1" type="radio" name="market__stars-4"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-4-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-4-0" type="radio" name="market__stars-4"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-4-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-4"></span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-4">$15.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 d-none d-md-flex">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-5">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-5"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-5"
                                                       class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-5">Aenean Ru Bristique</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-5"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-5-4" type="radio" name="market__stars-5"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-5-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-5-3" type="radio" name="market__stars-5"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-5-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-5-2" type="radio" name="market__stars-5"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-5-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-5-1" type="radio" name="market__stars-5"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-5-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-5-0" type="radio" name="market__stars-5"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-5-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-5"></span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-5">$15.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 d-none d-xl-flex">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-6">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-6"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-6"
                                                       class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-6">Aenean Ru Bristique</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-6"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-6-4" type="radio" name="market__stars-6"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-6-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-6-3" type="radio" name="market__stars-6"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-6-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-6-2" type="radio" name="market__stars-6"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-6-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-6-1" type="radio" name="market__stars-6"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-6-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-6-0" type="radio" name="market__stars-6"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-6-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-6">$35.00</span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-6">$25.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 d-none d-xl-flex">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-7">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-7"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-7"
                                                       class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-7">Aenean Ru Bristique</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-7"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-7-4" type="radio" name="market__stars-7"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-7-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-7-3" type="radio" name="market__stars-7"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-7-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-7-2" type="radio" name="market__stars-7"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-7-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-7-1" type="radio" name="market__stars-7"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-7-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-7-0" type="radio" name="market__stars-7"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-7-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-7"></span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-7">$15.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 d-none d-xl-flex">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-8">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-8"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-8"
                                                       class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-8">Aenean Ru Bristique</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-8"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-8-4" type="radio" name="market__stars-8"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-8-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-8-3" type="radio" name="market__stars-8"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-8-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-8-2" type="radio" name="market__stars-8"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-8-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-8-1" type="radio" name="market__stars-8"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-8-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-8-0" type="radio" name="market__stars-8"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-8-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-8"></span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-8">$15.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 d-none d-xl-flex">
                            <div class="market__card">
                                <div class="px-2 market__background">
                                    <div class="market__img market__img-9">
                                        <div class="market__btn-hover">
                                            <div class="d-flex flex-no-wrap justify-content-center align-items-start px-2 market__width-100">
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                <span
                                                        class="text-white d-flex justify-content-center align-items-center market__btn-sale">
                                                    <span>sale</span>
                                                </span>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                            </div>
                                            <div class="px-0 market__grow market__width-100"></div>
                                            <div class="d-flex flex-no-wrap justify-content-between align-items-center market__width-100">
                                                <div class="px-0">
                                                    <a id="btn-quick-9"
                                                       class="btn btn-dark text-white d-flex justify-content-center align-items-center market__btn-quick-v"
                                                       data-toggle="modal" data-target="#modal-product">
                                                        <span>Quick View</span>
                                                    </a>
                                                </div>
                                                <div class="px-0 market__grow"></div>
                                                <div class="px-0">
                                                    <a id="market-9"
                                                       class="btn btn-dark text-white d-flex justify-content-start align-items-center market__btn-add">
                                                        <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                                        <span class="pl-4">add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-2 market__card-bottom">
                                    <div class="d-flex flex-wrap justify-content-center market__product-div">
                                        <p class="my-0 market__product-info" id="market-name-9">Aenean Ru Bristique</p>
                                    </div>
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-9"
                                             class="d-flex flex-wrap justify-content-center align-items-center market__stars">
                                            <input id="market__star-9-4" type="radio" name="market__stars-9"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-9-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-9-3" type="radio" name="market__stars-9"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-9-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-9-2" type="radio" name="market__stars-9"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-9-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-9-1" type="radio" name="market__stars-9"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-9-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-9-0" type="radio" name="market__stars-9"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-9-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="px-2 my-3">
                                        <hr class="market__line">
                                    </div>
                                    <div class="d-flex flex-no-wrap justify-content-center align-items-center px-2">
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </div>
                                        <div class="px-1">
                                            <a href="#"
                                               class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                        </div>
                                        <div class="px-0 market__grow">
                                            <span class="d-flex justify-content-end align-items-center pr-2 market__btn-price-no-discount" id="market-old-price-9">$35.00</span>
                                        </div>
                                        <div class="px-0">
                                            <a href="#"
                                               class="btn btn-dark d-flex justify-content-center align-items-center market__btn-price">
                                                <span id="market-price-9">$25.00</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="px-0 py-5 d-flex justify-content-center align-items-center">
                    <a href="#"
                       class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-next">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                </div>
            </div>


            <!--filter-->



            <div class="col-xl-3">

                <section class="d-none d-lg-block filter">
                    <div class="filter__products">

                        <!-- categories-->

                        <div class="filter__block">
                            <h3 class="filter__title">Filter By categories</h3>
                            <ul class="filter__list p-0">
                                <li class="filter__item">
                                    <a href="#"
                                       class="filter__link active d-flex justify-content-between">
                                        <div class="filter__link-text filter__link-text_active"><i
                                                class="fas fa-chevron-right filter__link-icon"></i>Furniture
                                        </div>
                                        <div class="filter__link-counter filter__link-counter_active">3</div>
                                    </a>
                                </li>
                                <li class="filter__item">
                                    <a href="#"
                                       class="filter__link d-flex justify-content-between">
                                        <div class="filter__link-text"><i
                                                class="fas fa-chevron-right filter__link-icon"></i>Sofa
                                        </div>
                                        <div class="filter__link-counter">4</div>
                                    </a>
                                </li>
                                <li class="filter__item">
                                    <a href="#"
                                       class="filter__link d-flex justify-content-between">
                                        <div class="filter__link-text"><i
                                                class="fas fa-chevron-right filter__link-icon"></i>Chaif
                                        </div>
                                        <div class="filter__link-counter">5</div>
                                    </a>
                                </li>
                                <li class="filter__item">
                                    <a href="#"
                                       class="filter__link d-flex justify-content-between">
                                        <div class="filter__link-text"><i
                                                class="fas fa-chevron-right filter__link-icon"></i>Table
                                        </div>
                                        <div class="filter__link-counter">5</div>
                                    </a>
                                </li>
                                <li class="filter__item">
                                    <a href="#"
                                       class="filter__link d-flex justify-content-between">
                                        <div class="filter__link-text"><i
                                                class="fas fa-chevron-right filter__link-icon"></i>Bedroom
                                        </div>
                                        <div class="filter__link-counter">5</div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Price-->

                        <div class="filter__block">
                            <h3 class="filter__title">Filter By Price</h3>
                            <div class="filter__range-slider">
                                <div class="filter__slider-element">
                                    <div class="filter__slider-wrapper d-flex align-items-center">
                                        <div class="filter__slider-line"></div>
                                        <div class="filter__slider-dark-line"></div>
                                        <div class="filter__slider-circle"></div>
                                        <div class="filter__slider-circle filter__slider-circle_second-right"></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between filter__slider-navigation">
                                    <div class="filter__slider-btn">Filter</div>
                                    <label>
                                        <input class="filter__slider-input" type="text" value="$135-$500">
                                    </label>
                                </div>

                            </div>
                        </div>

                        <!-- Color-->

                        <div class="filter__block">
                            <h3 class="filter__title">Filter By Color</h3>
                            <ul class="filter__color-list p-0">
                                <a href="#">
                                    <li class="filter__color-item filter__color-item_red">
                                        <input id="red" type="checkbox" checked>
                                        <label for="red" class="filter__label-active">Red</label>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__color-item filter__color-item_black">
                                        <input id="black" type="checkbox">
                                        <label for="black">Black</label>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__color-item filter__color-item_yellow">
                                        <input id="yellow" type="checkbox">
                                        <label for="yellow">Yellow</label>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__color-item filter__color-item_blue">
                                        <input id="blue" type="checkbox">
                                        <label for="blue">Blue</label>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__color-item filter__color-item_pink">
                                        <input id="pink" type="checkbox">
                                        <label for="pink">Pink</label>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__color-item filter__color-item_green">
                                        <input id="green" type="checkbox">
                                        <label for="green">Green</label>
                                    </li>
                                </a>
                            </ul>
                        </div>
                        <!-- block Filter By Size-->

                        <div class="filter__block">
                            <h3 class="filter__title">Filter By Size</h3>
                            <ul class="filter__size-list p-0">
                                <a href="#">
                                    <li class="filter__size-item filter__size-item_active">
                                        <input id="size-S" type="checkbox" checked>
                                        <label for="size-S" class="filter__label-size-active">S</label>
                                        <div class="filter__link-counter filter__link-counter_active">3</div>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__size-item">
                                        <input id="size-M" type="checkbox">
                                        <label for="size-M" class="filter__label-size-active">M</label>
                                        <div class="filter__link-counter">4</div>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__size-item">
                                        <input id="size-L" type="checkbox">
                                        <label for="size-L" class="filter__label-size-active">L</label>
                                        <div class="filter__link-counter">5</div>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__size-item">
                                        <input id="size-XL" type="checkbox">
                                        <label for="size-XL" class="filter__label-size-active">XL</label>
                                        <div class="filter__link-counter">5</div>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="filter__size-item">
                                        <input id="size-XX" type="checkbox">
                                        <label for="size-XX" class="filter__label-size-active">XX</label>
                                        <div class="filter__link-counter">5</div>
                                    </li>
                                </a>

                            </ul>
                        </div>

                        <!--TAGS-->

                        <div class="filter__block">
                            <h3 class="filter__title">Filter By Tags</h3>
                            <div class="tags">
                                <div class="filter__tag filter__tag_active">
                                    <i class="fas fa-tags filter__tag-icon"></i>Table
                                </div>
                                <div class="filter__tag">
                                    <i class="fas fa-tags filter__tag-icon"></i>Chair
                                </div>
                                <div class="filter__tag">
                                    <i class="fas fa-tags filter__tag-icon"></i>Hand bag
                                </div>
                                <div class="filter__tag">
                                    <i class="fas fa-tags filter__tag-icon"></i>Women
                                </div>
                                <div class="filter__tag">
                                    <i class="fas fa-tags filter__tag-icon"></i>Fashion
                                </div>
                                <div class="filter__tag">
                                    <i class="fas fa-tags filter__tag-icon"></i>Clothes
                                </div>
                            </div>
                        </div>


                    </div>
                </section>


            </div>
        </div>
    </div>


    <!-- The Modal product -->
    <div class="modal" id="modal-product">
        <div class="modal-dialog product__dialog">
            <div class="modal-content product__card">
                <!-- Modal Header -->
                <div class="p-0 d-flex justify-content-end align-items-start">
                    <button type="button"
                            class="btn-dark text-white d-flex justify-content-center align-items-center p-0 product__close"
                            data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-md-6 col-12 py-2 pl-xl-1">
                                <div class="m-0 px-5 px-md-0 market__card">
                                    <div class="market__background">
                                        <div id="modal-bg-img"  class="market__img"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-md-6 col-12 pt-3">
                                <h3 class="pl-1 m-0 product__title">Sunbaby Magic Bear Chair</h3>
                                <div class="px-0 py-3 d-flex justify-content-start align-items-center">
                                    <div class="market__stars_wrap market__bg-white">
                                        <div id="market__rating-product"
                                             class="d-flex flex-wrap justify-content-end align-items-center py-2 market__stars">
                                            <input id="market__star-product-4" type="radio"
                                                   name="market__stars-product"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Отлично" for="market__star-product-4">
                                                <i class="far fa-star"></i>
                                            </label>
                                            <input id="market__star-product-3" type="radio"
                                                   name="market__stars-product"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Хорошо" for="market__star-product-3">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-product-2" type="radio"
                                                   name="market__stars-product"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Нормально" for="market__star-product-2">
                                                <i class="fa fa-star-o"></i>
                                            </label>
                                            <input id="market__star-product-1" type="radio" name="market__stars-product"
                                                   checked="checked"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Плохо" for="market__star-product-1">
                                                <i class="fa fa-star"></i>
                                            </label>
                                            <input id="market__star-product-0" type="radio"
                                                   name="market__stars-product"/>
                                            <label class="d-flex flex-no-wrap justify-content-center align-items-center m-0"
                                                   title="Ужасно" for="market__star-product-0">
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="py-0 px-3 d-flex justify-content-start align-items-center product__reviews">(0 reviews)</span>
                                </div>
                                <div class="px-0 py-3 py-xl-4 d-flex justify-content-start align-items-center product__border-top">
                                    <div class="px-0">
                                        <span class="d-flex justify-content-end align-items-center pr-2 product__btn-price-no-discount">$350.00</span>
                                    </div>
                                    <div class="px-0">
                                        <a href="#"
                                           class="btn btn-dark d-flex justify-content-center align-items-center product__btn-price">
                                            <span>$250.00</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="px-0 pt-3 pt-xl-4 pb-3 pb-md-4 d-flex justify-content-start align-items-center product__border-md-top">
                                    <div class="px-0">
                                        <a id="btn-add-product"
                                           class="btn btn-dark text-white d-flex justify-content-start align-items-center product__btn-add">
                                            <i class="fas fa-shopping-basket market__btn-add-ico"></i>
                                            <span class="pl-4">add to cart</span>
                                        </a>
                                    </div>
                                    <div class="px-2">
                                        <a href="#"
                                           class="btn btn-outline-light text-dark d-flex justify-content-center align-items-center market__btn-heart-exchange">
                                            <i class="fa fa-heart-o"></i>
                                        </a>
                                    </div>
                                </div>
                                <h5 class="px-0 pt-3 pt-md-0 product__quick product__border-sm-top">Quick Overview</h5>
                                <div class="pr-xl-5 pb-3 pb-xl-4">
                                        <span class="product__text">Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus augue,
                                        eu euis mod tellus. Nam mattis eros tis sagittis. Vestibulum suscipit cursus biben.
                                        </span>
                                </div>
                                <div class="container">
                                    <div class="row px-0 pb-4 pt-xl-4 product__border-xl-top">
                                        <div class="col-6 col-xl-12 px-0 pb-xl-2 pt-xl-1 d-flex justify-content-start align-items-center">
                                            <span class="product__availability">Availability:</span>
                                            <span class="px-3 product__availability-text">In Stock</span>
                                        </div>
                                        <div class="col-6 col-xl-12 px-0 pb-xl-0 pt-xl-2 d-flex justify-content-start align-items-center">
                                            <span class="product__availability">Category:</span>
                                            <span class="px-3 product__availability-text">Furniture</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5 d-none d-xl-block py-0 pl-xl-1"></div>
                            <div class="col-xl-7 col-12 py-0">
                                <div class="px-0 pt-4 pb-5 d-flex flex-wrap justify-content-center justify-content-xl-start align-items-center product__border-top">
                                    <div class="pl-0 pr-2 py-2">
                                        <a href="#"
                                           class="btn btn-outline-light d-flex justify-content-center align-items-center product__btn-all product__btn-f">
                                            <i class="fab fa-facebook-f"></i>
                                            <span class="pl-2 product__social-text">Share</span>
                                        </a>
                                    </div>
                                    <div class="pl-0 pr-2 py-2">
                                        <a href="#"
                                           class="btn btn-outline-light d-flex justify-content-center align-items-center product__btn-all product__btn-g">
                                            <i class="fab fa-google-plus-g"></i>
                                            <span class="pl-2 product__social-text">Google+</span>
                                        </a>
                                    </div>
                                    <div class="pl-0 pr-2 py-2">
                                        <a href="#"
                                           class="btn btn-outline-light d-flex justify-content-center align-items-center product__btn-all product__btn-t">
                                            <i class="fab fa-twitter"></i>
                                            <span class="pl-2 product__social-text">Tweet</span>
                                        </a>
                                    </div>
                                    <div class="pl-0 pr-2 py-2">
                                        <a href="#"
                                           class="btn btn-outline-light d-flex justify-content-center align-items-center product__btn-all product__btn-p">
                                            <i class="fab fa-pinterest-p"></i>
                                            <span class="pl-2 product__social-text">Pinterest</span>
                                        </a>
                                    </div>
                                    <div class="pl-0 pr-2 py-2">
                                        <a href="#"
                                           class="btn btn-outline-light d-flex justify-content-center align-items-center product__btn-all product__btn-l">
                                            <i class="fab fa-linkedin-in"></i>
                                            <span class="pl-2 product__social-text">Linkedin</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>