 <section class="container-fluid navbar-section" id="home">
     <div class="navbar container d-flex justify-content-between align-items-center">
         <div class="navbar__info">
             <span class="pr-4 text-white">USD</span>
             <span class="pr-4 text-white">English</span>
             <a href="#" class="navbar__info-services text-white">Help</a>
         </div>
         <div class="navbar__info-form d-flex">
             <div class="navbar__info-form--login pr-4 text-white">
                 <div>
                     <i class="fas fa-user-alt pr-1 text-white"></i>
                     <a class="text-white" data-toggle="modal" data-target="#myModal" href="#">Login</a>
                     <div class="modal fade" id="myModal" style="display: none;" aria-hidden="true">
                         <div class="modal-dialog login-dialog">
                             <div class="modal-content rounded-0 ">
                                 <div class="modal-navbar border-0">
                                     <button type="button" class="close" data-dismiss="modal">×</button>
                                 </div>
                                 <div class="modal-body pt-3 px-5">
                                     <h4 class="modal-title text-dark text-uppercase">Login</h4>
                                     <form action="" class="pt-4">
                                         <input type="text" class="form-control rounded-0 mb-3 p-4" placeholder="Name/Email*"
                                                required="">
                                         <input type="password" class="form-control rounded-0 p-4" placeholder="Password*"
                                                required="">
                                     </form>
                                 </div>
                                 <div class="modal-footer p-0 mx-5 align-self-start border-0">
                                     <button type="button" class="btn py-2 btn-dark text-white" data-dismiss="modal">Login
                                     </button>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="navbar__info-form--register">
                 <div>
                     <i class="fas fa-lock pr-1 text-white"></i>
                     <a class="text-white" data-toggle="modal" data-target="#myModalregister" href="#">Register</a>
                     <div class="modal fade" id="myModalregister" tabindex="-1" role="dialog" aria-hidden="true"
                          style="display: none;">
                         <div class="modal-dialog register-dialog">
                             <div class="modal-content rounded-0 ">
                                 <div class="modal-navbar border-0">
                                     <button type="button" class="close" data-dismiss="modal">×</button>
                                 </div>
                                 <div class="modal-body pt-3 px-5">
                                     <h4 class="modal-title text-dark text-uppercase">registration</h4>
                                     <form action="" class="pt-4">
                                         <input type="text" class="form-control rounded-0 mb-3 p-4" placeholder="Name/Email*"
                                                required="">
                                         <input type="email" class="form-control rounded-0 mb-3 p-4" placeholder="Email*"
                                                required="">
                                         <input type="password" class="form-control rounded-0 p-4" placeholder="Password*"
                                                required="">
                                     </form>
                                 </div>
                                 <div class="modal-footer p-0 mx-5 align-self-start border-0">
                                     <button type="button" class="btn py-2 btn-dark text-white" data-dismiss="modal">
                                         Register
                                     </button>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
