<section class="subscribe container-fluid">
    <div class="mx-auto py-5 d-flex justify-content-center align-items-center">
        <h5 class="subscribe__text my-0">NEWSLETTER:</h5>
        <form class="form-inline subscribe__form ">
            <i class="fas fa-envelope subscribe__mail-icon"></i>
            <div class="subscribe__mail-line"></div>
            <input class="subscribe__input form-control border-0 rounded" type="email" placeholder="Enter your email address" maxlength="70
">
        </form>
        <button class="border-0 rounded p-0 subscribe__btn"><i class="fas fa-arrow-right subscribe__arrow-right p-3 rounded"></i></button>
    </div>
</section>
