<section class="container our-featers_section" id="features">
    <div class="row mx-auto our-featers_section__row">
        <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-end our-featers_section__container">
            <div class="text-center our-featers_section__item">
                <div class="rounded-circle bg-white d-flex justify-content-center align-items-center our-featers_section__outer-circle">
                    <div class="rounded-circle text-center our-featers_section__inner-circle">
                        <i class="fas fa-truck"></i>
                    </div>
                </div>
                <p class="font-weight-bold our-featers_section__main-article">FREE SHIPPING</p>
                <p class="our-featers_section__sub-article">ALL ORDER</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-end our-featers_section__container">
            <div class="text-center our-featers_section__item">
                <div class="rounded-circle bg-white d-flex justify-content-center align-items-center our-featers_section__outer-circle">
                    <div class="rounded-circle text-center our-featers_section__inner-circle">
                        <i class="fas fa-headphones"></i>
                    </div>
                </div>
                <p class="font-weight-bold our-featers_section__main-article">24/7 CUSTOMER</p>
                <p class="our-featers_section__sub-article">SUPPORT</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-end our-featers_section__container">
            <div class="text-center our-featers_section__item">
                <div class="rounded-circle bg-white d-flex justify-content-center align-items-center our-featers_section__outer-circle">
                    <div class="rounded-circle text-center our-featers_section__inner-circle">
                        <i class="fas fa-reply-all"></i>
                    </div>
                </div>
                <p class="font-weight-bold our-featers_section__main-article">MONEY BACK</p>
                <p class="our-featers_section__sub-article">GUARANTEE</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center align-items-end our-featers_section__container">
            <div class="text-center our-featers_section__item">
                <div class="rounded-circle bg-white d-flex justify-content-center align-items-center our-featers_section__outer-circle">
                    <div class="rounded-circle text-center our-featers_section__inner-circle">
                        <i class="fas fa-bullhorn"></i>
                    </div>
                </div>
                <p class="font-weight-bold our-featers_section__main-article">MEMBER DISCOUNT</p>
                <p class="our-featers_section__sub-article">FIRST ORDER</p>
            </div>
        </div>
    </div>
</section>