<section class="stocks" id="stocks">
    <div class="container stocks__all">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 d-none d-md-flex justify-content-center pl-xl-0 px-m-0 py-3">
                <a class='d-flex justify-content-center stocks__sofa' href="#">
                    <div class="stocks__left stocks__leftl stocks__leftm">
                        <div class='stocks__backgroundleft'>
                            <div class="stocks__height1"></div>
                            <div class='stocks__sofatext'>
                                <p class='stocks__sofatext1'>guest room</p>
                            </div>
                            <div class='stocks__sofatext'>
                                <p class='stocks__sofatext2'>sofa</p>
                            </div>
                            <div class='stocks__sofatext'>
                                <p class='stocks__sofatext3 stocks__frame'>-20%</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 d-flex justify-content-center pr-xl-0 px-m-0 py-3">
                <div class="container flex-wrap">
                    <div class="row d-flex justify-content-center">
                        <a class='d-flex justify-content-center stocks__chair' href="#">
                            <div class="stocks__rightm stocks__rights stocks__chairbackallm stocks__chairbackalls">
                                <div class="stocks__chairtextm stocks__chairtexts">
                                    <p>
                                        <span class="stocks__chairtext1m stocks__chairtext1s">office</span>
                                        <span class="stocks__chairtext2m stocks__chairtext2s">chair</span>
                                    </p>
                                    <p class="stocks__chairtext3m stocks__chairtext3s">collection</p>
                                    <p class="stocks__chairtext4m stocks__chairtext4s">$200.00</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row d-flex d-none d-md-flex stocks__30px">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a class='d-flex justify-content-center stocks__special' href="#">
                            <div class="stocks__rightm stocks__rights stocks__specialbackallm stocks__specialbackalls">
                                <div class="stocks__specialtextm stocks__specialtexts">
                                    <p>
                                        <span class="stocks__specialtext1m stocks__specialtext1s">special </span>
                                        <span class="stocks__specialtext2m stocks__specialtext2s">collection</span>
                                    </p>
                                    <p class="stocks__specialtext3m stocks__specialtext3s">Save up 45% of furniture</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

