<section
        class="top-menu_section container-fluid position-sticky bg-white d-flex align-items-center justify-content-between">
    <div
            class="top-menu_section__subsection container position-relative d-flex align-items-center justify-content-between">
        <div class="top-menu__search-section">
            <div class="input-group">
                <input type="search" class="form-control bg-white top-menu__search-form"
                       placeholder="Search products...">
                <span class="input-group-btn">
                <button class="btn btn-default bg-white top-menu__search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </span>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg top-menu__nav-section">

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler text-dark top-menu__nav-btn" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                <i class="fas fa-bars top-menu_section__bars-icon"></i>
                <i class="fas fa-times top-menu_section__bars-icon"></i>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse top-menu_section__nav-section"
                 id="collapsibleNavbar">
                <ul class="navbar-nav text-right top-menu_section__nav-subsection">
                    <li class="nav-item top-menu__nav-item">
                        <a class="nav-link top-menu__nav-text" href="#home">HOME</a>
                    </li>
                    <li class="nav-item top-menu__nav-item">
                        <a class="nav-link top-menu__nav-text" href="#slider">SLIDER</a>
                    </li>
                    <li class="nav-item top-menu__nav-item">
                        <a class="nav-link top-menu__nav-text" href="#features">FEATURES</a>
                    </li>
                    <li class="nav-item top-menu__nav-item">
                        <a class="nav-link top-menu__nav-text" href="#stocks">STOCKS</a>
                    </li>
                    <li class="nav-item top-menu__nav-item">
                        <a class="nav-link top-menu__nav-text" href="#products">PRODUCTS</a>
                    </li>
                    <li class="nav-item top-menu__nav-item">
                        <a class="nav-link top-menu__nav-text" href="#f-gallery">GALLERY</a>
                    </li>
                    <li class="nav-item top-menu__nav-item">
                        <a class="nav-link top-menu__nav-text" href="#blog">BLOG</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

</section>