<section class="container top-slider_section" id="slider">
    <div id="top-slider" class="carousel slide row" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active top-slider_section__item1">
                <div class="carousel-caption top-slider_section__article">
                    <h3 class="top-slider_section__article--main"><span
                            class="top-slider_section__article--light">
                        INDOOR</span> FURNITURE </h3>
                    <p class="top-slider_section__article--sub">SAVE UP TO 50% OF ALL FURNITURE</p>
                    <button type="button" class="btn bg-white font-weight-bold top-slider_section__article-btn">SHOP
                        NOW</button>
                </div>
            </div>
            <div class="carousel-item top-slider_section__item2">
                <div class="carousel-caption top-slider_section__article">
                    <h3 class="top-slider_section__article--main"><span
                            class="top-slider_section__article--light">
                        INDOOR</span> FURNITURE </h3>
                    <p class="top-slider_section__article--sub">SAVE UP TO 50% OF ALL FURNITURE</p>
                    <button type="button" class="btn bg-white font-weight-bold top-slider_section__article-btn">SHOP
                        NOW</button>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev top-slider_section__btn float-left" href="#top-slider"
           data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next top-slider_section__btn float-right" href="#top-slider"
           data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</section>
