@media only screen and (max-width: 767px) {
  .blog__padding-first-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .blog__all-md {
    max-width: 750px;
    min-width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .blog__all-xl {
    max-width: 1140px;
    min-width: 450px;
  }
}

@media only screen and (max-width: 767px) {
  .blog__all {
    max-width: 450px;
    min-width: 450px;
  }
}

.blog__tabs-title {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d58e32; }

.blog__tabs-title:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 36px;
  width: 100%;
  height: 3px;
  background-color: #8080804a;
}

.blog__tabs-title:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 36px;
  left: 0;
  width: 44px;
  height: 3px;
  background-color: #d58e32;
}

.blog__tabs-circle {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: 14px;
  border: 1px solid #8080804a;
  background-color: #8080804a;
}

.blog__tabs-circle:hover {
  border: 1px solid #d58e32;
  background-color: #d58e32;
}

.blog__tabs-circle-active {
  border: 1px solid #d58e32;
  background-color: #d58e32;
}

.blog__tabs-step {
  position: relative;
  width: 30px;
  height: 30px;
  top: 21px;
  font-size: 10pt;
  line-height: 1em;
  border: 1px solid #2a2a2a;
  background-color: white;
}

.blog__tabs-step:hover {
  border: 1px solid #d58e32;
  background-color: #d58e32;
}

.blog__tabs-step .blog__tabs-step-ico {
  color: #2a2a2a;
}

.blog__tabs-step:hover .blog__tabs-step-ico {
  color: white;
}

.blog__item {
  position: relative;
  display: block;
  align-content: center;
  width: 360px;
  min-width: 360px;
}

.blog__item-top {
  justify-content: center;
}

.blog__image {
  height: 290px;
  background-repeat: no-repeat;
}

.blog__image1 {
  background-image: url("/img/blog/1.jpg");
  background-position: bottom 0px left -80px;
  background-size: 122%;
}

.blog__image2 {
  background-image: url("/img/blog/2.jpg");
  background-position: bottom 0px left 0px;
  background-size: 100%;
}

.blog__image3 {
  background-image: url("/img/blog/3.jpg");
  background-position: bottom 0px left 0px;
  background-size: 100%;
}

.blog__text-title {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 600;
  color: #2a2a2a;
}

.carousel-item:hover .blog__text-title {
  color: #d58e32;
}

.blog__text-body {
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #7b7b7b;
}

.blog__btn {
  width: 165px;
  height: 45px;
  border-radius: 0;
  background-color: #2a2a2a;
}

.carousel-item:hover .blog__btn {
  background-color: #d58e32;
  border: 1px solid #d58e32;
}

.blog__image-title {
  width: 300px;
  height: 60px;
  font-size: 12pt;
  align-content: center;
}

.blog__image-bgcolor {
  background-color: white;
}

.blog__p {
  padding: 30px;
}

.blog__data-comments {
  text-transform: uppercase;
  padding-left: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 9pt;
  font-weight: 400;
  color: #7b7b7b;
}


/// slider

@media (min-width: 1200px) {

  /* show 3 items */
  .carousel-inner .blog__carousel.active,
  .carousel-inner .blog__carousel.active + .carousel-item,
  .carousel-inner .blog__carousel.active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .blog__carousel.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .blog__carousel.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .blog__carousel.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .blog__carousel.carousel-item-next,
  .carousel-inner .blog__carousel.carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .blog__carousel.active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .blog__carousel.active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .blog__carousel.carousel-item-next.carousel-item-left + .carousel-item,
  .blog__carousel.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .blog__carousel.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .blog__carousel.carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .blog__carousel.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .blog__carousel.carousel-item-prev.carousel-item-right + .carousel-item,
  .blog__carousel.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .blog__carousel.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  .carousel-inner .blog__carousel.active > .blog__item-top {
    justify-content: flex-start;
  }

  .carousel-inner .blog__carousel.active + .carousel-item + .carousel-item > .blog__item-top {
    justify-content: flex-end;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {

  /* show 3 items */
  .carousel-inner .blog__carousel.active,
  .carousel-inner .blog__carousel.active + .carousel-item {
    display: block;
  }

  .carousel-inner .blog__carousel.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .blog__carousel.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }

  .carousel-inner .blog__carousel.carousel-item-next,
  .carousel-inner .blog__carousel.carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  //.carousel-inner .active.carousel-item + .carousel-item {
  //  position: absolute;
  //  top: 0;
  //  right: -33.3333%;
  //  z-index: -1;
  //  display: block;
  //  visibility: visible;
  //}

  /* left or forward direction */
  .blog__carousel.active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .blog__carousel.carousel-item-next.carousel-item-left + .carousel-item,
  .blog__carousel.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .blog__carousel.carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .blog__carousel.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .blog__carousel.carousel-item-prev.carousel-item-right + .carousel-item,
  .blog__carousel.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  .carousel-inner .blog__carousel.active > .blog__item-top {
    justify-content: flex-start;
  }

  .carousel-inner .blog__carousel.active + .carousel-item > .blog__item-top {
    justify-content: flex-end;
  }
}

