
.gallery__tabs-title {
  position: relative;
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d58e32;
}

.fa-heart,
.fa-eye,
.fa-shopping-basket {
  cursor: pointer;
}

.gallery__tabs-title:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 27px;
  width: 100%;
  height: 2px;
  background-color: #8080804a;
}

.gallery__tabs-title:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 26px;
  left: 0;
  width: 44px;
  height: 3px;
  background-color: #d58e32;
}

.fa-eye:before {
  content: "\f06e";
}

.gallery__item {
  padding-top: 53px;
  padding-left: 62px;
  background-color: #e8edf7;
}

.gallery__item-indicator {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.gallery__item-price {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  color: #79ae30;
}

.gallery__item-info {
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 600;
  color: #d58e32;
}

.gallery__item-button {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #79ae30;
  color: #fff;
}

.gallery__item-img {
  transform: rotateY(180deg);
  width: 467px;
}

.gallery__tabs-content--heart {
  margin-top: 130px;
  padding: 11px;
  width: 42px;
  border: 1px solid black;
  /* font-size: 18px; */
}

.gallery__tabs-content--eye {
  padding: 11px;
  width: 42px;
  border: 1px solid black;
  font-size: 18px;
}

.gallery__tabs-content--basket {
  margin-bottom: 15px;
  padding: 11px;
  width: 42px;
  border: 1px solid black;
  font-size: 18px;
}

////////////////////////////////////////////////slider

.carusel-position {
  position: absolute;
}

.d-block {
  height: 454px;
  width: 388px;
}

.border-stars {
  position: absolute;
  top: 464px;
  left: 216px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 106px;
  width: 249px;
}

.border-stars:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #2A2A2A transparent transparent transparent;
}

.border-stars:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #2A2A2A transparent;
}

.gallery__tabs-content--price {
  position: absolute;
  text-align: center;
  top: 464px;
  //left: 110px;
  border-radius: 50%;
  height: 105px;
  width: 105px;
  background-color: #7B7B7C;
  opacity: 0.7;

}

.price-line-through {
  text-decoration: line-through;
}

.summa-position {

  margin-top: 20px;

}

.item .thumb {
  width: 70px;
  cursor: pointer;
  display: inline-block;
  //text-align: center;
  //float: left;
}

.item .thumb img {
  //width: 100%;
  margin: 2px;
}

.item img {
  width: 100%;
}

//.carousel-inner > .active {
//  width: 388px;
//  //height: 100px;
//}

.position-icons {
  position: absolute;
  top: 100px;
}

.gallery__item {
  display: none;
}

.nav-tabs {
  border: 1px solid #ddd;
  text-transform: uppercase;
  font-weight: bold;

}

.nav-link {
  color: #2A2A2A;
}

.nav-link:hover {
  color: #D58E32;
}

.nav-link.rounded-0.active {
  color: #D58E32;
}

.nav > li > a {
  padding: 10px 25px;
}

.nav-tabs > li > a {
  //margin-right: 2px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #F4F5F7;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  width: auto;
  height: 349px;
  max-width: 200%;
}

.carousel-control.right,
.carousel-control.left {
  background-color: #2A2A2A;

}

.carousel-control {
  opacity: 1;
}

.thumb {
  background-color: #D3D3D3;
}

.nav-link.active {
  background-color: #7b7b7b;
}

@media (min-width: 768px) {
  .item .thumb {
    width: 16%;
    cursor: pointer;
    display: inline-block;
  }
  //.gallery {
  //  //width: 566px;
  //  height: 603px;
  //  overflow: hidden;
  //  margin-bottom: 60px;
  //}
  .carousel-inner > .active {
    //width: 200px;
    display: flex;
    padding-left: 33px;
  }
  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    width: auto;
    height: 388px;
    max-width: 200%;
    padding-left: 25%;
  }

  .slider-positions {
    display: inline-block;
    text-align: center;
  }
  .position-icons {
    position: absolute;
    top: 50px;
  }
  .fa-heart,
  .fa-eye,
  .fa-shopping-basket {
    position: absolute;
    cursor: pointer;
  }

  .gallery__tabs-content--heart,
  .gallery__tabs-content--eye,
  .gallery__tabs-content--basket {
    font-size: 16px;
    border: 1px solid black;
    padding: 6px;
    width: 32px;
  }

  .gallery__tabs-content--heart:hover,
  .gallery__tabs-content--eye:hover,
  .gallery__tabs-content--basket:hover {
    border: 1px solid #D7953F;
    color: #D7953F;
  }

  .gallery__tabs-content--heart {
    margin-top: 97px;
  }
  .gallery__tabs-content--eye {
    margin-top: 131px;
  }
  .gallery__tabs-content--basket {
    margin-top: 164px;
  }
  .border-stars {
    top: 380px;
    right: 16px;
  }
  .gallery__tabs-content--price {
    top: 295px;
    right: 55px;
  }
  .carousel-control {
    width: 33px;
  }

}

@media only screen and (min-width: 1200px) {
  .gallery__item {
    display: block;
    //height: 603px;
    overflow: hidden;
  }
  //.gallery {
  //  width: 1170px;
  //}

}

@media only screen and (max-width: 767px) {
  //.gallery {
  //  width: 970px;
  //}
  .item-div-color {
    margin-top: 5px;
    width: 70px;
    height: 70px;
    display: flex;
    overflow: hidden;

  }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  .nav > li > a {
    padding: 10px 20px;
  }
  .nav-tabs {
    border: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .fa-heart,
  .fa-eye,
  .fa-shopping-basket {
    position: absolute;
  }

  .gallery__tabs-content--heart,
  .gallery__tabs-content--eye,
  .gallery__tabs-content--basket {
    font-size: 16px;
    border: 1px solid black;
    padding: 6px;
    width: 32px;
    margin: 0;
  }
  .gallery__tabs-content--heart {
    margin-top: 97px;
  }
  .gallery__tabs-content--eye {
    margin-top: 131px;
  }
  .gallery__tabs-content--basket {
    margin-top: 164px;
  }
  .carousel-control {
    width: 33px;
  }
  .border-stars {
    top: 408px;
    right: 87px;

  }

  .gallery__tabs-content--price {
    top: 410px;
    left: 98px;
  }

  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    width: auto;
    //height: 388px;
    max-width: 200%;
    padding-left: 25%;
  }

}

.buttom-people-left {
  border: 1px solid #BBBBBB;
  background-color: #2A2A2A;
  width: 33px;
  height: 70px;
  cursor: pointer;

}

.list {
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.gallery-imgDiv {
  cursor: pointer;
  background-color: #F4F5F7;
  margin-left: 5px;
}

.buttom-people-left:after {
  content: "\003C";
  color: #F2F2F2;
  font-size: 24px;
}

.buttom-people-right {
  border: 1px solid #BBBBBB;
  background-color: #2A2A2A;
  width: 33px;
  height: 70px;
  //margin-left: 37px;
  cursor: pointer;
}

.buttom-people-right:hover {
  background-color: #00CBF6;
}

.buttom-people-left:hover {
  background-color: #00CBF6;
}

.buttom-people-right:after {
  content: "\003E";
  color: #F2F2F2;
  font-size: 24px;
}

.selected {
  background-color: #F4F5F7;
}

.selected img {
  outline: none;
  height: 415px;

}

.img-foot {
  width: auto;
  height: 100%;
}

.gallery-imgDiv{
  height: 70px;
  width: 70px;
  text-align: center;
}


