$color-orange: #d58e32;
@media (max-width: 767px) {
  .header-section__mobile-icon {display: none;}
  .header-section__main-header-logo {
    width: 114px;
    height: 53px;
  }
  .header-section__cart-section {width: 62px;}
  .header-section__cart-btn {
    width: 45px;
    height: 43px;
    line-height: 43px;
  }
  .header-section__cart-eclipse {
    width: 25px;
    height: 26px;
    left: 37px;
    top: 7px;
    line-height: 26px;
    font-size: 12px;
  }
  .header-section__cart-icon {
    font-size: 18px;
    padding-left: 9px;
  }
  .header-section__cart-content {
    width: 100%;
  }
  .header-section__cart-dialog {
    max-width: 420px;
  }
  .header-section__empty-cart {
    padding: 0 90px;
  }
  .header-section__filled-cart-img {
    width: 60%;
  }
  .header-section__filled-cart-prise-section {
    width: 40%;
  }
  .header-section__filled-cart-prise-section h4 {
    margin-bottom: 0px;
  }
  .header-section__filled-cart-content > div {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  .header-section__cart-section {width: 71px;}
  .header-section__cart-btn {
    width: 51px;
    height: 49px;
    line-height: 49px;
  }
  .header-section__cart-eclipse {
    width: 28px;
    height: 29px;
    left: 43px;
    top: 10px;
    line-height: 29px;
    font-size: 14px;
  }
  .header-section__cart-icon {
    font-size: 21px;
    padding-left: 12px;
  }
  .header-section__empty-cart {
    padding: 0 55px;
  }
  .header-section__filled-cart-price--old {
    display: inline-block;
    margin-right: 10px;
  }
  .header-section__filled-cart-prise-section h4 {
    margin-bottom: 27px;
  }
  .header-section__filled-cart-quantity-section p {
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-right: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-section__cart-content {
    width: 100%;
  }
  .header-section__cart-dialog {
    max-width: 750px;
  }
  .header-section__filled-cart-img {
    width: 30%;
  }
  .header-section__filled-cart-prise-section {
    width: 70%;
  }
  .header-section__filled-cart-quantity-section {
    margin-left: 207px;
    margin-top: 32px;
  }
}
@media (min-width: 1200px) {
  .header-section__cart-content {
    width: 100%;
  }
  .header-section__cart-dialog {
    max-width: 1140px;
  }
  .header-section__filled-cart-img {
    width: 40%;
  }
  .header-section__filled-cart-prise-section {
    width: 60%;
  }
  .header-section__filled-cart-quantity-section {
    margin-left: 0px;
  }
  .header-section__filled-cart-quantity-section {
    margin-left: 128px;
    margin-top: 32px;
  }
}
.header-section {
  height: 145px;
}
.header-section__mobile-icon {
  color: $color-orange;
  font-size: 30px;
  padding-right: 13px;
}
.header-section__mobile-phone {
  font-size: 17px;
  font-weight: 500;
}

.header-section__cart-btn {
  background-color: $color-orange;
  position: relative;
  vertical-align: center;
}
.header-section__cart-eclipse {
  position: absolute;
}
.header-section__cart-dialog {
  margin-right: auto;
  margin-left: auto;
}
#header-section__modal-header {
  border-bottom: none;
}
#header-section__modal-footer {
  border-top: none;
  justify-content: space-between;
}
#header-section__cart-close-btn {
  width: 41px;
  height: 37px;
  background-color: #2a2a2a;
  opacity: 1;
  color: white;
  padding: 0 0;
  line-height: 0;
  position: relative;
}
.header-section__cart-close-icon {
  position: absolute;
  left: 12px;
  top: 15px;
}
#header-section__cart-close-btn:hover {
  background-color: #d58e32;
  color: white;
  opacity: 1;
}
.header-section__top-article {
  font-size: 48px;
  color: rgba(147, 147, 147, 255);
}
.header-section__bottom-article {
  font-size: 27px;
  color: rgba(147, 147, 147, 255);
}
.header-section__filled-cart-prise-section {
  padding-top: 15px;
}
.header-section__filled-cart-img img {
  height: 160px;
  width: auto;
}
.header-section__filled-cart-product-name {
  line-height: 1.5;
  font-weight: 600;
}
.header-section__filled-cart-price--old {
  text-decoration: line-through;
  font-weight: 300;
  font-size: 1.25rem;
}
.header-section__filled-cart-price--new {
  display: inline-block;
  padding: 1px 10px;
  font-size: 1.25rem;
  background-color: #2a2a2a;
  font-weight: 500;
}
.header-section__filled-cart-quantity-section {
  display: inline-block;
}
.header-section__filled-cart-quantity {
  width: 73px;
  height: 37px;
  border: 1px solid black;
  float: left;
  padding-top: 5px;
}
.header-section__filled-cart-btn--remove, .header-section__filled-cart-btn--add {
  width: 40px;
  height: 37px;
  border: 1px solid black;
  float: left;
  padding-bottom: 4px;
  font-size: 20px;
  cursor: pointer;
}
.header-section__filled-cart-btn--remove:hover, .header-section__filled-cart-btn--add:hover {
  border: 1px solid #d58e32;
  color: #d58e32;
}
.header-section__filled-cart-quantity-sum {
  font-size: 1.25rem;
}
.header-section__filled-cart-quantity-sum:first-child {
  font-weight: 300;
}
.header-section__filled-cart-quantity-sum:last-child {
  font-weight: 500;
}
.header-section__btn--continue {
  background-color: #939393;
  font-weight: 500;
}
.header-section__btn--buy {
  background-color: #d58e32;
  font-weight: 500;
}
.header-section__filled-cart-total-sum {
  font-size: 1.25rem;
  font-weight: 500;
}
.disabled {
  display: none;
}