.market__background {
  width: 100%;
  padding-top: 101%;
  position: relative;
  background-color: #f4f5f7;
}

.market__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}

.market__img-1 {
  background-image: url("/img/products/furniture/1.png");
  background-position: bottom -12px left -30px;
  background-size: 120%;
}

.market__img-2 {
  background-image: url("/img/products/furniture/2.png");
  background-position: bottom -5px left 25px;
  background-size: 78%;
}

.market__img-3 {
  background-image: url("/img/products/furniture/3.png");
  background-position: bottom 5px left 25px;
  background-size: 78%;
}

.market__img-4 {
  background-image: url("/img/products/furniture/4.png");
  background-position: bottom 0px left 50px;
  background-size: 59%;
}

.market__img-5 {
  background-image: url("/img/products/furniture/5.png");
  background-position: bottom -5px left 30px;
  background-size: 79%;
}

.market__img-6 {
  background-image: url("/img/products/furniture/6.png");
  background-position: bottom -5px left 30px;
  background-size: 75%;
}

.market__img-7 {
  background-image: url("/img/products/furniture/7.png");
  background-position: bottom 5px left 30px;
  background-size: 74%;
}

.market__img-8 {
  background-image: url("/img/products/furniture/8.png");
  background-position: bottom -10px left -20px;
  background-size: 115%;
}

.market__img-9 {
  background-image: url("/img/products/furniture/9.png");
  background-position: bottom -10px left -20px;
  background-size: 105%;
}

.market__card {
  margin: 15px 0;
  width: 100%;
}

.market__card .market__btn-price {
  border-color: #2a2a2a;
  background-color: #2a2a2a;
}

.market__card:hover .market__btn-price {
  border-color: #d58e32;
  background-color: #d58e32;
}

.market__card .market__product-info {
  color: #2a2a2a;
}

.market__card:hover .market__product-info {
  color: #d58e32;
}

.market__product-info {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 600;
  text-align: center;
  line-height: 3em;
}

.market__card-bottom {
  border-radius: 0;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.market__stars_wrap {
  overflow: hidden;
}

.market__stars {
  overflow: hidden;
  position: relative;
  transform: scale(-1, 1);
  font-size: 14px;
}

.market__stars input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
  display: none;
}

.market__stars label {
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.market__stars input ~ label i:before {
  color: #d5d5d5;
  font-weight: 400;
}

.market__stars input:checked ~ label i:before,
.market__stars label:hover i:before,
.market__stars label:hover ~ label i:before {
  color: #2a2a2a;
  font-weight: 900;
}

.market__line {
  color: #2a2a2a;
  background-color: #2a2a2a;
  display: flex;
  position: relative;
  justify-content: center;
}

.market__line:before {
  content: "";
  display: flex;
  position: relative;
  top: -2px;
  width: 30px;
  height: 3px;
  background-color: #d58e32;
}

.market__btn-heart-exchange {
  border-radius: 0;
  border-color: #2a2a2a;
  width: 35px;
  height: 35px;
}

.market__btn-heart-exchange:hover {
  border-radius: 0;
  border-color: #2a2a2a;
}

.market__btn-price {
  width: 80px;
  height: 35px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 600;
}

.market__grow {
  flex-grow: 1;
}

.market__btn-sale {
  width: 42px;
  height: 21px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  font-size: 9pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-bottom: 5px;
  background-color: #2a2a2a;
}

.market__card .market__btn-hover {
  display: none;
  flex-direction: column;
  height: 100%;
}

.market__card:hover .market__btn-hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.market__width-100 {
  width: 100%;
}

.market__btn-quick-v {
  height: 38px;
  width: 88px;
  border-radius: 0;
  background-color: #2a2a2a;
  font-size: 9pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.market__btn-add {
  text-transform: uppercase;
  height: 38px;
  width: 132px;
  border-radius: 0;
  background-color: #2a2a2a;
  font-size: 9pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.market__btn-add-ico {
  font-size: 10pt;
}

.market__btn-price-no-discount {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #d5d5d5;
  text-decoration: line-through;
}

.market__tabs-title {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2a2a2a;
  padding: 0 15px;
  margin: 15px 0;
}

.market__tabs-title:before {
  content: "";
  display: flex;
  position: relative;
  top: 40px;
  width: 100%;
  height: 1px;
  background-color: #2a2a2a;
}

.market__btn-list {
  border-radius: 0;
  border-color: #2a2a2a;
  width: 90px;
  height: 30px;
  text-transform: none;
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
  font-weight: 400;
}

.market__btn-list:hover {
  border-radius: 0;
  border-color: #2a2a2a;
}

.market__btn-list-text {
  font-size: 9pt;
}

.market__btn-next {
  border-radius: 100%;
  border-color: #eeeeee;
  background-color: #eeeeee;
  width: 50px;
  height: 50px;
  font-size: 16pt;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.15);
}

.market__btn-next:hover {
  border-radius: 100%;
  border-color: #eeeeee;

}

/////////////////////////// modal-product

.product__close {
  background-color: #2a2a2a;
  width: 38px;
  height: 38px;
  border-radius: 0;
  border-color: #2a2a2a;
  font-size: 20pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 100%;
}

.product__close:hover {
  border-radius: 0;
  border-color: #2a2a2a;
}

.product__close__ico {
  display: flex;
}

.product__card {
  border-radius: 0;
}

@media only screen and (min-width: 1200px) {
  .product__dialog {
    max-width: 1140px;
    margin: 64px auto auto auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .product__dialog {
    max-width: 750px;
    margin: 50px auto auto auto;
  }
}

@media only screen and (max-width: 767px) {
  .product__dialog {
    max-width: 420px;
    margin: 20px auto auto auto;
  }
}

.product__title {
  font-size: 16pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.product__reviews {
  font-size: 10pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #818181;
}

.product__border-top {
  border-top: 1px solid #cccccc;
}

@media only screen and (min-width: 1200px) {
  .product__border-xl-top {
    border-top: 1px solid #cccccc;
  }
}

@media only screen and (min-width: 768px) {
  .product__border-md-top {
    border-top: 1px solid #cccccc;
  }
}

@media only screen and (max-width: 767px) {
  .product__border-sm-top {
    border-top: 1px solid #cccccc;
  }
}

.product__btn-price-no-discount {
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 300;
  color: #b4b4b4;
  text-decoration: line-through;
}

.product__btn-price {
  border-color: #2a2a2a;
  background-color: #2a2a2a;
  width: 105px;
  height: 35px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 600;
}

.product__btn-add {
  text-transform: uppercase;
  height: 35px;
  width: 135px;
  border-radius: 0;
  background-color: #d58e32;
  border-color: #d58e32;
  font-size: 10pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.product__btn-add:hover {
  background-color: #d58e32;
  border-color: #d58e32;
}

.product__quick {
  font-size: 11pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #2a2a2a;
}

.product__text {
  font-size: 9.5pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #818181;
}

.product__availability {
  font-size: 10pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #2a2a2a;
}

.product__availability-text {
  font-size: 9pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #818181;
}

.product__btn-all {
  border-radius: 0;
  border-color: #2a2a2a;
  height: 40px;
}

.product__btn-all:hover {
  color: white;
}

.product__btn-f {
  width: 85px;
  color: #3b5998;
}

.product__btn-f:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}

.product__btn-g {
  width: 97px;
  color: #d62d20;
}

.product__btn-g:hover {
  border-color: #d62d20;
  background-color: #d62d20;
}

.product__btn-t {
  width: 84px;
  color: #4099ff;
}

.product__btn-t:hover {
  border-color: #4099ff;
  background-color: #4099ff;
}

.product__btn-p {
  width: 100px;
  color: #c92228;
}

.product__btn-p:hover {
  border-color: #c92228;
  background-color: #c92228;
}

.product__btn-l {
  width: 100px;
  color: #0077b5;
}

.product__btn-l:hover {
  border-color: #0077b5;
  background-color: #0077b5;
}

.product__social-text {
  font-size: 10pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #818181;
}

.product__btn-all:hover .product__social-text {
  color: white;
}

//--------------------------------------FILTER-------------------------------------------------
/////////////////////////////////FILTER BY CATEGORIES/////////////////////////
.filter__block {
  margin-bottom: 50px;
}

.filter__title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #2a2a2a;
}

.filter__list {
  display: block;
}

.filter__item {
  margin-bottom: 14px;
  font-size: 13px;
  font-weight: 400;
  list-style: none;
}

.filter__link {
  cursor: pointer;
  align-items: center;
}

.filter__link-icon {
  padding-right: 5px;
}

.filter__link:hover .filter__link-text {
  color: #d58e32;
}

.filter__link:hover .filter__link-counter {
  background-color: #d58e32;
}

.filter__link-text {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  color: #2a2a2a;
}

.filter__link-counter {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  width: 24px;
  /* height: 24px; */
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #2a2a2a;
}

.filter__link-counter_active {
  background-color: #d58e32;
}

.filter__link-text_active {
  color: #d58e32;
}

.filter__link-icon {
  padding-right: 5px;
}

.filter__link-icon,
.filter__link-text {
  color: #2A2A2A;
}

////////////////////////////////filter__block
.filter__slider-wrapper {
  margin: 10px 0;
  height: 30px;
}

.filter__slider-line {
  height: 8px;
  width: 100%;
  border: 1px solid #a5a5a5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.filter__slider-dark-line {
  position: absolute;
  height: 8px;
  background-color: black;
  width: 100px;
}

.filter__slider-circle {
  position: absolute;
  height: 24px;
  width: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #ffffff;
  border: 2px solid #d58e32;
  cursor: pointer;
}

.filter__slider-circle_second-right {
  left: 100px;
}

.filter__slider-circle {
  position: absolute;
  height: 24px;
  width: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #ffffff;
  border: 2px solid #d58e32;
  cursor: pointer;
}

.filter__slider-btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  background-color: #d58e32;
  display: inline;
  padding: 10px 14px;
}

.filter__slider-input {
  font-weight: 600;
  width: 114px;
  text-align: center;
  color: #2a2a2a;
  font-size: 14px;
}

////////////////////////////////FILTER BY COLOR
.filter__link-counter {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  width: 24px;
  height: 24px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #2a2a2a;
}

.filter__color-item_red {
  color: #d58e32;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  //display: block;
  //margin: 0.2rem 0.2rem 0.2rem 0;
  cursor: pointer;
  //padding: 0.2rem;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1rem solid #000;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
  //display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.7rem;
  vertical-align: bottom;
  color: transparent;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  left: 10px;
}

.filter__color-item {
  color: #2a2a2a;
  padding-bottom: 5px;
  display: block;
  list-style: none;
}

.filter__color-item label {
  padding: 0 0 0 5px;
}

.filter__color-item label:hover {
  color: #d58e32;
}

.filter__color-item_red {
  color: #d58e32;
}

.filter__color-item_red input[type=checkbox] + label:before {
  background: #f00;
  border: 0.1rem solid #f00;
}

.filter__color-item_red input[type=checkbox]:checked + label:before {
  background-color: #f00;
  border-color: #f00;
  color: #ffffff;
}

.filter__color-item_black input[type=checkbox] + label:before {
  background: black;
  border: 0.1rem solid black;
}

.filter__color-item_black input[type=checkbox]:checked + label:before {
  background-color: black;
  border-color: black;
  color: #ffffff;
}

.filter__color-item_yellow input[type=checkbox] + label:before {
  background: #ffff00;
  border: 0.1rem solid #ffff00;
}

.filter__color-item_yellow input[type=checkbox]:checked + label:before {
  background-color: #ffff00;
  border-color: #ffff00;
  color: black;
}

.filter__color-item_blue input[type=checkbox] + label:before {
  background: #0099cc;
  border: 0.1rem solid #0099cc;
}

.filter__color-item_blue input[type=checkbox]:checked + label:before {
  background-color: #0099cc;
  border-color: #0099cc;
  color: #ffffff;
}

.filter__color-item_pink input[type=checkbox] + label:before {
  background: #ff33cc;
  border: 0.1rem solid #ff33cc;
}

.filter__color-item_pink input[type=checkbox]:checked + label:before {
  background-color: #ff33cc;
  border-color: #ff33cc;
  color: #ffffff;
}

.filter__color-item_green input[type=checkbox] + label:before {
  background: green;
  border: 0.1rem solid green;
}

.filter__color-item_green input[type=checkbox]:checked + label:before {
  background-color: green;
  border-color: green;
  color: #ffffff;
}

///////////////////////////////  filter__size-list

.filter__size-list > a {
  color: black;
}

.filter__size-item_active {
  color: #d58e32;
}

.filter__size-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  font-size: 13px;
}

.filter__size-item input[type=checkbox]:checked + label {
  color: #d58e32;
}

.filter__size-item input[type=checkbox]:checked + label:before {
  background-color: #d58e32;
  border-color: #d58e32;
  color: #ffffff;
}

.filter__size-item label {
  padding: 0 0 0 5px;
}

.filter__size-item label:hover {
  color: #d58e32;
}

.filter__size-item_active {
  color: #d58e32;
}

.filter__size-item_active input[type=checkbox] + label:before {
  background: #d58e32;
  border: 0.1rem solid #d58e32;
}

.filter__size-item_active input[type=checkbox]:checked + label:before {
  background-color: #d58e32;
  border-color: #d58e32;
  color: #ffffff;
}

/////////////////////////// filter by tags

.filter__tag {
  font-size: 14px;
  padding: 10px;
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
}

.filter__tag_active, .filter__tag:hover {
  color: #d58e32;
  border: 1px solid #d58e32;
}

.filter__tag-icon {
  padding-right: 5px;
}

