.color-nav{
  background-color: #434343;
  height: 57px;
}
.navbar-section {
  background-color: #434343;
}
.navbar{
  padding: 20px 15px;
  margin-bottom: 0 ;
}
.modal-footer {
  margin-bottom: 2rem;
}
.modal-navbar .close {
  padding: 10px 14px;
  font-weight: 700;
  font-size: 22px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  background-color: #2a2a2a;
  opacity: 1;
}

