.subscribe {
  margin-top: 44px;
  background-color: #f2f2f2;
}

.subscribe__form {
  width: 486px;
  position: relative;
}

.subscribe__mail-icon {
  font-size: 18px;
  position: absolute;
  top: 16px;
  left: 16px;
  color: #d58e32;
}

.subscribe__mail-line {
  position: absolute;
  top: 16px;
  left: 48px;
  border-right: 1px solid #bebebe;
  height: 18px;
}

.subscribe__input {
  height: 46px;
  padding: 16px 16px 16px 67px;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 15px;
  color: #bebebe;
}

.subscribe__input::-moz-placeholder {
  color: #bebebe;
  font-size: 15px;
}

.subscribe__input:-moz-placeholder {
  color: #bebebe;
  font-size: 15px;
}

.subscribe__input:-ms-input-placeholder {
  font-size: 15px;
  color: #bebebe;
}

.subscribe__text {
  margin-right: 57px;
  font-weight: 600;
  color: #d58e32;
}

.subscribe__arrow-right {
  color: #d58e32;
  background-color: #ffffff;
}

.subscribe__btn {
  margin-left: 20px;
}