$color-orange: #d58e32;
$color-light-black: #2a2a2a;
.our-featers_section {
  margin-bottom: 30px;
}
.our-featers_section__container {
  height: 161px;
  margin-top: 30px;
}
.our-featers_section__item {
  height: 121px;
  width: 263px;
  border: 1px solid $color-light-black;
  position: relative;
  cursor: pointer;
}
.our-featers_section__outer-circle {
  height: 76px;
  width: 76px;
  border: 1px solid $color-light-black;
  position: absolute;
  left: 94px;
  top: -40px;
}
.our-featers_section__inner-circle {
  height: 62px;
  width: 62px;
  border: 1px solid $color-light-black;
  font-size: 25px;
  line-height: 62px;
  vertical-align: center;
}
.our-featers_section__main-article {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 46px;
}
.our-featers_section__sub-article {
  font-size: 20px;
}
.our-featers_section__item:hover .our-featers_section__outer-circle {
  border: 1px solid $color-orange;
}
.our-featers_section__item:hover .our-featers_section__inner-circle {
  background-color: $color-orange;
  border: 1px solid $color-orange;
  color: white;
}
.our-featers_section__item:hover p {
  color: rgba(224, 163, 142, 255);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .our-featers_section__row {
    width: 585px;
  }
}
@media (min-width: 1200px) {
  .our-featers_section__row {
    width: 1140px;
  }
}