@media only screen and (min-width: 768px) {
  .stocks__rightm {
    width: 555px;
    height: 195px;
  }

  .stocks__chairtext1m {
    font-size: 23pt;
    font-weight: 700;

  }

  .stocks__chairtext2m {
    font-size: 23pt;
    font-weight: 300;
  }

  .stocks__chairtext3m {
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: 0.15em;
  }

  .stocks__chairtext4m {
    color: #d58e32;
    font-size: 28pt;
    font-weight: 600;
    line-height: 1em;
  }

  .stocks__chairbackallm {
    position: relative;
    background-color: #e8edf7;
    display: block;
    align-content: center;
    background-image: url("/img/stocks/2.png");
    background-repeat: no-repeat;
    background-position: bottom -30px left -40px;
    background-size: 37.7%;
  }

  .stocks__chairbackallm:before {
    content: "";
    position: absolute;
    width: 555px;
    height: 195px;
    background-image: url("/img/stocks/3.png");
    background-repeat: no-repeat;
    background-position: bottom 0px left -10px;
    background-size: 30.5%;
    transform: scale(-1, 1);
  }

  .stocks__chairtextm {
    padding-top: 55px;
    padding-left: 180px;
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 0.5em;

  }

  .stocks__specialbackallm {
    position: relative;
    background-color: #fbf3f7;
    display: block;
    align-content: center;
    background-repeat: no-repeat;
    background-position: bottom -15px right -40px;
  }

  .stocks__specialbackallm:before {
    content: "";
    position: absolute;
    width: 555px;
    height: 195px;
    background-image: url("/img/stocks/4.png");
    background-repeat: no-repeat;
    background-position: bottom -15px right -35px;
    background-size: 57%;
    transform: scale(-1, 1);
  }

  .stocks__specialtextm {
    padding-top: 80px;
    padding-left: 270px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 0.5em;
  }

  .stocks__specialtext1m {
    font-size: 18pt;
    font-weight: 700;
    color: #d58e32;
  }

  .stocks__specialtext2m {
    font-size: 18pt;
    font-weight: 400;
    color: #d58e32;
  }

  .stocks__specialtext3m {
    padding-left: 10px;
    font-size: 13pt;
    font-weight: 400;
    color: black;
  }
}

@media only screen and (max-width: 767px) {
  .stocks__rights {
    width: 453px;
    height: 133px;
  }

  .stocks__chairtext1s {
    font-size: 18pt;
    font-weight: 700;
  }

  .stocks__chairtext2s {
    font-size: 18pt;
    font-weight: 700;
  }

  .stocks__chairtext3s {
    font-size: 11pt;
    font-weight: 700;
    letter-spacing: 0.15em;
  }

  .stocks__chairtext4s {
    color: #d58e32;
    font-size: 24pt;
    font-weight: 600;
    line-height: 0.8em;
  }

  .stocks__chairbackalls {
    position: relative;
    background-color: #e8edf7;
    display: block;
    align-content: center;
    background-image: url("/img/stocks/2.png");
    background-repeat: no-repeat;
    background-position: bottom -15px left -23px;
    background-size: 30.5%;
  }

  .stocks__chairbackalls:before {
    content: "";
    position: absolute;
    width: 453px;
    height: 133px;
    background-image: url("/img/stocks/3.png");
    background-repeat: no-repeat;
    background-position: bottom 0px left -12px;
    background-size: 25.5%;
    transform: scale(-1, 1);
  }

  .stocks__chairtexts {
    padding-top: 35px;
    padding-left: 140px;
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 0.2em;
  }

  .stocks__specialbackalls {
    position: relative;
    background-color: #fbf3f7;
    display: block;
    align-content: center;
    background-repeat: no-repeat;
    background-position: bottom -15px right -40px;
  }

  .stocks__specialbackalls:before {
    content: "";
    position: absolute;
    width: 453px;
    height: 133px;
    background-image: url("/img/stocks/4.png");
    background-repeat: no-repeat;
    background-position: bottom -20px right -20px;
    background-size: 50%;
    transform: scale(-1, 1);
  }

  .stocks__specialtexts {
    padding-top: 50px;
    padding-left: 230px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 0.5em;
  }

  .stocks__specialtext1s {
    font-size: 14pt;
    font-weight: 600;
    color: #d58e32;
  }

  .stocks__specialtext2s {
    font-size: 14pt;
    font-weight: 300;
    color: #d58e32;
  }
  .stocks__specialtext3s {
    font-size: 11pt;
    font-weight: 300;
    color: black;
  }
}

.stocks__left {
  width: 555px;
  height: 420px;
  padding: 6%;
  position: relative;
  display: block;
  align-content: center;
  background-image: url("/img/stocks/1.jpg");
  background-repeat: no-repeat;
  background-position: revert;
  background-size: cover;
}

.stocks__sofa {
  width: 100%;
  height: 100%;
}

.stocks__sofa:hover {
  text-decoration: none;
}

.stocks__backgroundleft {
  padding: 4%;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(2a, 2a, 2a, 0.4);

}

.stocks__sofatext {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  line-height: 1.9em;
  height: max-content;
}

.stocks__sofatext1 {
  font-size: 26pt;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.stocks__sofatext2 {
  font-size: 45pt;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.stocks__sofatext3 {
  font-size: 42pt;
  line-height: 1em;
  position: absolute;
  bottom: 0;
  font-weight: 600;
}

.stocks__height1 {
  width: 100%;
  height: 41.5%;
}

.stocks__frame {
  border: 5px solid white;
  padding: 10px 10px;
  vertical-align: bottom;
}

.stocks__chair {
  width: 100%;
  height: 50%;
}

.stocks__chair:hover {
  text-decoration: none;
}

.stocks__special {
  width: 100%;
  height: 50%;
}

.stocks__special:hover {
  text-decoration: none;
}

.stocks__30px {
  width: 100%;
  height: 30px;
}

.stocks__all {
  min-width: 480px;
}