$color-light-black: #2a2a2a;
@media (max-width: 767px) {
  .top-menu__search-section {
    width: 227px;
  }
}
@media (min-width: 768px) {
  .top-menu__search-section {
    width: 320px;
  }
}
@media (max-width: 989px) {
  .top-menu_section__nav-subsection {
    width: 97px;
    float: right;
    padding-top: 40px;
  }
  .top-menu__nav-text {
    color: #737373;
    font-weight: normal;
  }
  .top-menu__nav-item:hover {
    border-bottom: 1px solid #737373;
    border-top: none;
  }
  .active-navbar {
    border-bottom: 1px solid #737373;
    border-top: none;
  }
}
@media (min-width: 990px) {
  .top-menu__nav-text {
    color: #2a2a2a;
    font-weight: bold;
  }
  .top-menu__nav-section {
    padding: 0px 15px;
  }
  .top-menu_section__nav-section {
    height: 85px;
  }
  .top-menu_section__nav-subsection {
    height: 100%;
  }
  .top-menu__nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .top-menu__nav-item:hover {
    border-bottom: none;
    border-top: 3px solid #2a2a2a;
    background-color: #d58e32;
    padding-top: 17px;
  }
  .active-navbar {
    border-bottom: none;
    border-top: 3px solid #2a2a2a;
    background-color: #d58e32;
    padding-top: 17px;
  }
}
.top-menu_section {
  height: 85px;
  top: 0;
  z-index: 2;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
}
.top-menu_section__subsection {
  height: 100%;
}
.top-menu__search-form {
  border: 1px solid $color-light-black;
  border-radius: 0px;
  border-right: none;
}
.top-menu__search-btn {
  border: 1px solid $color-light-black;
  border-radius: 0px;
  border-left: none;

}
.top-menu_section__bars-icon {
  font-size: 29px;
}
.top-menu__nav-section {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}
.top-menu__nav-btn {
  margin-left: auto;
  margin-right: 0;
}
.top-menu__nav-item:hover .top-menu__nav-text {
  color: #ffffff;
}
