@media (max-width: 767px) {
  .top-slider_section__item1, .top-slider_section__item2 {
    height: 270px;
    background-size: 140%;
  }
  .top-slider_section__btn {
    height: 32px;
  }
  .top-slider_section__item1::after, .top-slider_section__item2::after {
    top: 35px;
    left: 15px;
    right: 15px;
    bottom: 26px;
  }
  .top-slider_section__article--main {
    font-size: 37px;
  }
  .top-slider_section__article--sub {
    font-size: 18px;
  }
  .top-slider_section__article {
    bottom: 40px;
  }
}
@media (min-width: 768px) {
  .top-slider_section__item1, .top-slider_section__item2 {
    height: 466px;
  }
  .top-slider_section__btn {
    height: 39px;
  }
  .top-slider_section__item1::after, .top-slider_section__item2::after {
    top: 145px;
    left: 0;
    right: 0;
    bottom: 107px;
  }
  .top-slider_section__article {
    bottom: 62px;
  }
  .top-slider_section__article--light {
    font-weight: lighter;
  }
  .top-slider_section__article--main {
    font-size: 52px;
    margin-bottom: 0;
    line-height: 1;
  }
  .top-slider_section__article--sub {
    font-size: 21px;
    margin-bottom: 36px;
  }
}
.top-slider_section__item1 {
  background-image: url(../img/top-slider/1.jpg);
  background-position: 50% 50%;
}
.top-slider_section__item2 {
  background-image: url(../img/top-slider/2.jpg);
  background-position: 50% 50%;
}
.top-slider_section__item1::after, .top-slider_section__item2::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.5;
}
.top-slider_section__btn {
  width: 50%;
  background-color: #2a2a2a;
  position: relative;
  opacity: 1;
}
.top-slider_section__btn:hover {
  background-color: #d58e32;
}
.top-slider_section__article-btn {
  width: 136px;
  height: 54px;
}
.top-slider_section {
  margin-bottom: 39px;
}
